body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-form,
.registeration-form {
  width: 40%;
  margin: 10% auto;
}
.nav-logo {
  width: 6vw;
  border-radius: 50%;
}
.navbar-collapse {
  justify-content: end;
}
.nav-link {
  font-size: 1.4rem;
  margin-right: 10px;
}
.search-bar {
  width: 50%;
  border: none !important;
  border-bottom: 2px solid black !important;
  border-radius: 25px;
  height: 50px;
  padding-left: 10px;
  text-align: center !important;
}
